{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Sign Up</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

  <body class="container mx-auto bg-cover bg-center h-screen flex flex-col place-content-center" style="background-image: url({% static 'images/signupbg.png' %})">
    <form method="POST" class="w-fit h-fit p-2 border-4 border-orange-900 place-self-center flex flex-col items-center place-content-center bg-orange-100 bg-opacity-85 rounded-xl">
        {% csrf_token %}
        <div class="flex flex-col items-center mt-4 *:p-4">
          <div class="form-group flex flex-col items-center">
            <input type="text" class="text-center form-control rounded-full" name="username" placeholder="Username">
          </div>
          <div class="form-group flex flex-col item-center *:my-2">
            <input type="password" class="text-center form-control rounded-full" name="password1" placeholder="Password">
            <input type="password" class="text-center form-control rounded-full" name="password2" placeholder="Confirm Password">
          </div>
        <div class="felx flex-row justify-between *:p-2 *:mx-2 *:rounded-full">
          <button class="bg-orange-500 rounded-full hover:text-white" type="submit">Sign Up</button>
          or
          <a class="bg-orange-400 rounded-full mx-2 hover:text-white" href="{% url 'login' %}">Already have an account?</a>
        </div>
        <a class="px-2 py-1 sticky bottom-0 text-gray-900 text-xl hover:text-orange-600" href="{% url 'home' %}">Return to homepage</a>
    </form>
  <body>

